{% extends 'base.html.twig' %}

{% block title %}Ajouter une définition{% endblock %}

{% block content %}

<div class="container-account">

<h1> Ajouter une définition </h1>

<br>
<div class="card" style="width: 70%;">
{{form_start(form)}}
  <div class="card-body">

<div class="row">
<div class="col-md-12">
{{ form_row(form.name) }}
</div>
<div class="col-md-6">
{{ form_row(form.subtitle) }}
</div>
<div class="col-md-6">
{{ form_row(form.description) }}
</div>

<div class="col-md-12">
{{ form_row(form.subcategory) }}
</div>
</div>




{{form_end(form)}}
</div>
</div></div>
<a href="{{ path('account_definition') }}"> Retour </a>
 
{% endblock %}
