{% extends 'base.html.twig' %}

{% block title %}{{definitions.name}}{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">

<div class="row text-center justify-content-start">
<div class="col-md-3"></div>
<div class="col-md-6">
  <h1> {{definitions.name}} </h1>

<div class="card">
<h1> {{definitions.subtitle}} </h1>

<p class="text-justify"> {{definitions.description}} </p>
</div>
<div class="col-md-3"></div>
</div>
<div><a href="{{ path('definition') }}">Retour aux définitions</a> </div>

{% endblock %}