<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Une boutique qui vend des produits d'exception">
 
    <title> {% block title %} Dev définitions {% endblock %}  </title>

    <!-- Bootstrap CSS -->
    <link href=" {{ asset('assets/css/bootstrap.min.css') }} " rel="stylesheet">
    <link href=" {{ asset('assets/css/style.css') }} " rel="stylesheet">

{% block javascript %}

{% endblock %}

   <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="{{ path('home')}}">Dev définitions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> 
        </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav mr-auto" href=""> 
       <li class="nav-item active">
       <a class="nav-link" href="{{ path('home')}}"> Définitions </a>
     
       </li>
       <li class="nav-item active">
       <a class="nav-link text-dark" href="{{ path('home')}}"> Catégories </a>
     
       </li>
       <li class="nav-item active">
       <a class="nav-link" href="{{ path('home')}}">  </a>
     
       </li>
         </ul>
           <div class="navbar-custom">

{% if app.user %}
            <a href="{{ path('account') }}" class="text-dark"> mon compte {{ app.user.firstname }}</a> | <a href="{{ path('app_logout') }}" class="text-dark"> déconnexion | </a>

{% else %}
            <a href="{{ path('app_login') }}" class="text-dark">connexion</a> | <a href="{{ path('register') }}" class="text-dark"> inscription |  </a>

{% endif %}
           <a href="{{ path('account') }}" class="text-dark"> + ajouter quelque chose </a>
          </div>
        </div>
    </nav>
</header>

<main role="main">

   </div>


{% block content %}

{% endblock %}

 </div>

<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Qui sommes nous ?</h5>

        <p>
        Nous sommes des étudiants en développement web à La Plateforme_ Marseille
Trouver et ajoutez des définitions liées au vocabulaire de dev dont on a besoin ! 
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Nous contacter</a>
          </li>
          <li>
            <a href="{{ path('faq')}}" class="text-dark">FAQ</a>
          </li>
          
          <li>
            <a href="{{ path('terms_conditions') }}" class="text-dark">Mention légales</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled">
          <li>
            <a href="{{ path('products') }}" class="text-dark">Livres</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Blog</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Agenda</a>
          </li>
          
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

</footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src=" {{'assets/js/bootstrap.bundle.js'}} "></script>
</body>


{% block script %}

{% endblock %}

</html>
